target/
!.mvn/wrapper/maven-wrapper.jar

### Node / Angular ###
node_modules/
.angular/
dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/*
!.idea/runConfigurations/
